body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: 
  linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),  /* Semi-transparent overlay */
  url('/public/hulu-background-image.jpg'); /* Your background image */
  color: #fff;
  overflow: hidden;
}


#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  /* justify-content: center; */
  /* align-items: center; */
}

.section {
  margin-bottom: 20px;
}

.row-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
  color: #fff; /* Ensure text is visible against the background */
}

.row {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

.tile {
  background-color: #333;
  border-radius: 8px;
  margin: 3px;
}

/* Highlight the focused tile */
.tile.focused {
  border: 5px solid #FFF; /* Green border to indicate focus */
  transform: scale(1.1); /* Slightly enlarge focused tile */
  transition: transform 0.2s, border 0.2s;
}

.tile p {
  padding: 10px;
  text-align: center;
  color: #fff;
}

.tile:hover {
  transform: scale(1.05);
}


.img-wrapper {
  position: relative;
  width: 400px;
  height: 300px; /* Define the height */
  background-color: #1C1C1C;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
  text-align: center;
}

.watermark-img {
  width: 50px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  pointer-events: none; /* Make sure watermark doesn't interfere with clicking */
  opacity: 0.5;
}
